<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Wave.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ECBB48161BE7E1F900709D34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECBB482A1BE7E1F900709D34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECBB48351BE7E1FA00709D34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
